# Operating systems
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Databases
*.sqlite
*.sqlite3

# NodeJS
build/
dist/
docs/
.cache/
.env
.npm
coverage
.cache/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Code editors
*.swp
*.swo
.idea/
*.ipr
*.iml
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Misc
.log
